@use "../abstracts" as *;

$icon-width: 5rem;
$icon-color: #d4ddf7;

.icon {
  display: grid;
  place-items: center;
  width: $icon-width;
  padding: 0.25rem;
  border: 0.125rem solid transparent;
  border-radius: 0.25rem;
  aspect-ratio: 1;
  cursor: pointer;

  &-grid {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, $icon-width);
    gap: 1.25rem;
    text-align: center;

    @include media(max, 32) {
      grid-template-columns: repeat(auto-fit, $icon-width);
      place-content: center;
    }
  }

  &-image {
    width: $icon-width * 0.5;
    align-self: baseline;
  }

  &-label {
    text-transform: capitalize;
  }

  &:hover {
    background-color: color($icon-color, 0.25);
    border-color: color($icon-color);
  }
}
